body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/**************** Colores ****************/

.section2_2 > p, .section2_3 > p, .section2_4 > p, .lorem_color_7a7a7a,
.container > .box > p {
    color: #7a7a7a;
}

.text_color_aaaaaa {
    color: #aaaaaa;
    font-size: 12px;
    margin-top: 0;
}

/*color del texto debajo del titulo y otros elementos, se aplica sobre el fondo oscuro*/
.title_features > p, .our_skills > p, .company_facts_title > p,
.box > .text_number{
    color: #545454;
}


/*Color titulo parte blanca sobre fondo oscuro*/
.title_features > h2, .features_1 > h4, .features_2 > h4, .features_3 > h4,
.our_skills > h2, .company_facts_title > h2{
    color: #e4e4e4;
}

/*Color titulo parte azul y otros elementos*/
.title_features > h2 > span, .our_skills > h2 > span, .company_facts_title > h2 > span{
    color: #00a99d;
}

/*****************************************/


.portada_img_inicial {
    height: 750px;
}

.portada_img_inicial > img {
    
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.texto_img_portada {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 205px;
    left: 0;
    right: 0;
    width: 1170px;
    height: 400px;

}

.container_text {
    width: 625px;
}

.container_text > .text_1, .text_2 {
    color: #383838;
    text-align: center;
}

.container_text > .text_2 > span{
    color: #00a99d;
}

.container_text > .text_2 {
    font-weight: 800;
    font-size: 24px;
}

.container_text > h1 {
    font-size: 62px;
    font-weight: 625px;
    margin-top: 0;
    color: #383838;
}

/*****************************************/
.container_nav {
    display: flex;
    align-items: center;  
    height: 100px;
    width: 1170px;
    margin: 0 auto;
}
nav{
    border-bottom: 3px solid #dedede;

}

.logo {
    padding-right: 315px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    font-size: 0.868rem;
    margin-left: 30px;
    height: 80px;
}

.menu_pagina {
    font-size: 0.868rem;
    font-weight: 700;
    text-decoration: none;
    color: #606060;

}

/**********************************/

.what_we_offer {
    height: 545px;
    width: 1170px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 132px 1fr;
    margin: 0 auto;
    text-align: center;
    grid-gap: 10px;
}

.section2_1 {
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    margin-top: 40px;
}

.section2_1 > h2 {
    color: #383838;
    font-weight: 800;
}

.section2_1 > h2 > span {
    color: #00a99d;
}

.section2_1 > p {
    color: #8a8a8a;
}

.section2_2, .section2_3, .section2_4 {
    margin-top: 50px;
}

.section2_2 > h4, .section2_3 > h4, .section2_4 > h4 {
    color: #606060;
}



.buttom_read_more {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #8a8a8a;
    border: 1px solid #dedede;
    border-radius: 6px;
}

/*************************************************/

.amazing_features {
    height: 620px;
    background-color: #383838;
}

.section_features {
    width: 1170px;
    height: 620px;
    display: grid;
    grid-template-columns: 70px 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.title_features {
    text-align: center;
    grid-column: 1/4;
}


.screen_icon, .puzle_icon, .star_icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.screen_icon {

    grid-row: 2/3;
    grid-column: 1/2;
}

.puzle_icon {
    grid-row: 3/4;
    grid-column: 1/2;
}

.star_icon {
    grid-row: 4/5;
    grid-column: 1/2;
}

.features_1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.features_2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.features_3 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.features_1 > p, .features_2 > p, .features_3 > p {
    color: #737373;
}

.tablets_img {
    grid-row: 2/5;
    grid-column: 3/4;
}
.tablets_img > img {
    height: 100%;
    width: 80%;
    float: right;
}

/*************************************************/

.business_skills {
    height: 480px;
    width: 1170px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 130px 130px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    grid-gap: 20px;
    grid-row-gap: 50px;
}

.subtitles_h4_color {
    color: #606060;
    margin: 0;
}

.especial_screen, .especial_puzle, .especial_star, .especial_3barras, .carro_compra, .especial_disco {
    padding-bottom: 30px;
}

/************************************************/

.our_skills {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
}

.our_powerful_skills {
    height: 404px;
    background-color: #383838;
    display: grid;
    grid-template-rows: 128px 1fr; 
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container .box {
    /* width: 25%; */
    float: left;
    text-align: center;

}

 .container .box .chart {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 120px;
    color: white;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container > .box > p {
    font-weight: bold;
}


/************************************************/


.section_sample_works {
    height: 880px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 502px 1fr;
}
.box_images > img {
    width: 100%;
    height: 100%;    
}

.sample_works_title {
    text-align: center;
    margin-top: 80px;
}
.sample_works_title > h2 {
    margin-top: 0;
    color: #383838;
    font-weight: 900;
}

.sample_works_title > h2 > span {
    color: #00a99d;
}

.sample_works_title > p {
    color: #8a8a8a;
}

.sample_works_images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    margin: 0 auto;
}

.sample_works_buttom {
    text-align: center;

    width: 1170px;
    height: 40px;
    margin: 0 auto;
    margin-top: 66px;
    
}

.sample_works_buttom > a {
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 45%;
    padding-right: 45%;
    font-weight: 600;
    font-size: 12px;
    color: #e4e4e4;
    background-color: #00a99d;
    border-radius: 6px;
}

/************************************************/

.section_company_facts {
    height: 404px;
    background-color: #383838;
    display: grid;
    grid-template-rows: 128px 1fr;
    
}

.box > .number {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e4e4e4;
}

.box > .text_number {
    font-weight: bold;
}

.company_facts_title {
    width: 1170px;
    margin: 0 auto;
    text-align: center;

}

.company_facts_numbers {
    width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 90px;
    margin: 0 auto;
    text-align: center;
}

/**************************************************/

.section_satisfied {
    height: 80px;
    background-color: #00a99d;
}

.container_satisfied {
    width: 1170px;
    height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    grid-gap: 10px;
}

.container_satisfied > .text, .button_satisfied {
    display: flex;
    align-items: center;
}

.container_satisfied > .text {
    color: #e4e4e4;
    font-weight: bold;
}

.button_satisfied > a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #606060;
    background-color: #e4e4e4;
    border-radius: 5px;

}

.container_satisfied > p {
    margin: 0;
}

/************************************************/

.team_members {
    height: 703px;
    background-color: white;
}

.comments {
    height: 312px;
    background-color: aqua;
}

.busines {
    height: 260px;
    background-color: #383838;
}

.real_cheap_prices {
    height: 896px;
    background-color: white;
}

/*********************************************/

.purchase_it_now {
    height: 170px;
    background-color: #8a8a8a;
}

.purchase_width {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
}

/*********************************************/

.social_networks {
    height: 277px;
    background-color: #383838;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    align-content: center;
    
}

.networks_icons {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.networks_icons > img {
    width: 40px;
    height: 40px;

}

/*********************************************/

.map {
    height: 502px;
}

.copyright {
    height: 100px;
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
}