html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/**************** Colores ****************/

.section2_2 > p, .section2_3 > p, .section2_4 > p, .lorem_color_7a7a7a,
.container > .box > p {
    color: #7a7a7a;
}

.text_color_aaaaaa {
    color: #aaaaaa;
    font-size: 12px;
    margin-top: 0;
}

/*color del texto debajo del titulo y otros elementos, se aplica sobre el fondo oscuro*/
.title_features > p, .our_skills > p, .company_facts_title > p,
.box > .text_number{
    color: #545454;
}


/*Color titulo parte blanca sobre fondo oscuro*/
.title_features > h2, .features_1 > h4, .features_2 > h4, .features_3 > h4,
.our_skills > h2, .company_facts_title > h2{
    color: #e4e4e4;
}

/*Color titulo parte azul y otros elementos <H2>*/
.title_features > h2 > span, .our_skills > h2 > span, .company_facts_title > h2 > span,
.section2_1 > h2 > span{
    color: #00a99d;
}

/*****************************************/
/*

width: 1170 px === 73.125rem

.texto_img_portada, .what_we_offer

*/


/*****************************************/
/*COMPLETADO Y REVISADO, POR AHORA BIEN*/
/*****************************************/

.portada_img_inicial {
    height: 37.5rem;
    width: 100%;
}

.portada_img_inicial > img {
    
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.texto_img_portada {
    display: block;
    position: absolute;
    margin-right: auto;
    top: 3.75rem;
    left: 0;
    right: 0;
    width: 60%;
    text-align: center;
    /* width: 73.125rem; 1170px ¡¡¡¡¡PROBLEMOOOO!!!!! */
    height: 25rem; /*400px*/
}

.text_1, .text_2 {
    color: #383838;
    text-align: center;
}

.text_2 > span{
    color: #00a99d;
}

.text_1, .text_2 {
    font-weight: 800;
    font-size: 1.5em;
}

.box_title_page > h1 {

    font-size: 3.875em; 
    margin-top: 0;
    color: #383838;
}

 @media screen and (max-width:640px) {
    .texto_img_portada {
        font-size: 12px;
    }
}


/*****************************************/

nav{
    /* height: 6.25rem; */
    border-bottom: 0.1875rem solid #dedede;

}

 .logo {
    float: left;
}

.menu {
    overflow: hidden;
    width: 100%;
    text-align: right;
}

i.fas.fa-search {
    margin-top: 3.4em;
    
}

.menu_pagina, #search_icon {
    /* margin-top: 2.72em; */
    padding: 10px;
    font-size: 0.868rem;
    font-weight: 700;
    text-decoration: none;
    color: #606060;
}

.menu_pagina:hover, #search_icon:hover {
    color: white;
    background-color: #00a99d;
    border-radius: 0.3125rem;
}

.container_nav {
    width: 85%;
    margin: 0 auto;

}

.menu .iconPrueba {
    display: none;
  }
  
@media screen and (max-width: 960px) {
    .menu a {display: none;}
    .menu a.iconPrueba {
    float: right;
    display: block;
    color: #606060;
    font-size: 2.5em;
    margin-top: 0.75em;
    }
}
  
@media screen and (max-width: 960px) {

    #first_element_menu {
        margin-top:100px;
    }
    .menu.responsive {
        position: relative;
        margin: 0 auto;
    }

    i.fas.fa-search {
        margin-top: 0;
        
    }

    .container_nav {
        width: 95%;
    }

    .menu.responsive .iconPrueba {
        
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/**********************************/

.what_we_offer {
     width: 100%;
}

.container_sections234 {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.section2_1 {
    margin-top: 2.5rem;
    margin: 0 auto;
    text-align: center;
}

.section2_1 > h2 {
    color: #383838;
    font-weight: 800;
}


.section2_1 > p { color: #8a8a8a; }

.section2_2, .section2_3, .section2_4 { margin-top: 50px; }

.section2_2 > h4, .section2_3 > h4, .section2_4 > h4 { color: #606060; }


.section2_2 {
    float: left;
    width: 30%;
}

.section2_3 {
    float: left;
    width: 30%;
    padding: 0 5%;
}

.section2_4 {
    float: left;
    width: 30%;
    text-align: center;
}


.buttom_read_more {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #8a8a8a;
    border: 1px solid #dedede;
    border-radius: 6px;
}


@media screen and (max-width:800px) {
    .container_sections234 {
        width: 70%;
    }
    
    .section2_2, .section2_3, .section2_4 {
        width: 100%;
    }

    .section2_3 {
        padding: 0;
    }
}

/*************************************************/
/*
HASTA AQUI REVISION SUPERIOR RESPONSIVE
*/

/*************************************************/

.amazing_features {
    /* height: 620px; */
    background-color: #383838;
}

.section_features {
    width: 85%;
    height: 620px;
    display: grid;
    grid-template-columns: 8% 27% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.title_features {
    text-align: center;
    grid-column: 1/4;
}


.screen_icon, .puzle_icon, .star_icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.screen_icon {

    grid-row: 2/3;
    grid-column: 1/2;
}

.puzle_icon {
    grid-row: 3/4;
    grid-column: 1/2;
}

.star_icon {
    grid-row: 4/5;
    grid-column: 1/2;
}

.features_1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.features_2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.features_3 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.features_1 > p, .features_2 > p, .features_3 > p {
    color: #737373;
}

.tablets_img {
    grid-row: 2/5;
    grid-column: 3/4;
}
.tablets_img > img {
    height: 100%;
    width: 80%;
    float: right;
}

@media screen and (max-width:800px) {
    .section_features {
        height: 700px;
        display: grid; 
        grid-template-columns: 8% 92%;
        grid-template-rows: 20% 35% 15% 15% 15%;
    }
    
    .title_features {
        grid-column: 1/3;
        grid-row:  1/2;
    }

    .tablets_img {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .screen_icon {
        grid-column: 1/2;
        grid-row:3/4;
    }

    .puzle_icon {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .star_icon {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .features_1 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .features_2 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .features_3 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .tablets_img > img {
        width: 60%;
        height: 100%;
        float: left;
    }
}


/*************************************************/

.business_skills {
    height: 480px;
    width: 85%;
    display: grid;
    grid-template-columns: 40px 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 130px 130px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    grid-gap: 20px;
    grid-row-gap: 50px;
}

.subtitles_h4_color {
    color: #606060;
    margin: 0;
}

.especial_screen, .especial_puzle, .especial_star, .especial_3barras, .carro_compra, .especial_disco {
    padding-bottom: 30px;
    width: 100%;
}

@media screen and (max-width: 970px) {
    
    .business_skills, .section_features {
        width: 95%;
    }

}

@media screen and (max-width: 850px) {

    .business_skills {
        height: auto;
        padding: 50px 0;
        display: grid;
        grid-template-columns: 40px 1fr 40px 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 650px) {
    .business_skills {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/************************************************/

.our_skills {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
}

.our_powerful_skills {
    height: auto;
    width: 100%;
    padding-bottom: 30px;
    background-color: #383838;
    display: grid;
    grid-template-rows: auto 1fr; 
}

.container {
    width: 85%;
    margin: 0 auto;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.container .box {
    /* width: 25%; */
    float: left;
    text-align: center;

}

 .container .box .chart {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 120px;
    color: white;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container > .box > p {
    font-weight: bold;
}

@media screen and (max-width: 974px) {

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 484px) {

    .our_skills {
        width: 95%;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 336px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}

/************************************************/


.section_sample_works {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

.box_images > img {
    width: 100%;
    height: 100%;    
}

.sample_works_title {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.sample_works_title > h2 {
    margin-top: 0;
    color: #383838;
    font-weight: 900;
}

.sample_works_title > h2 > span {
    color: #00a99d;
}

.sample_works_title > p {
    color: #8a8a8a;
}

.sample_works_images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    margin: 0 auto;
}
/*sample_wokrs hay que hacer esta mierda!!!*/
.sample_works_buttom {
    margin-top: 66px;
    text-align: center;
}

.sample_works_buttom > a{
    display:block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #e4e4e4;
    background-color: #00a99d;
    border-radius: 6px;
}

@media screen and (max-width: 550px) {

    .sample_works_images {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 330px) {

    .sample_works_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

/************************************************/

.section_company_facts {
    width: 100%;
    height: auto;
    background-color: #383838;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    padding-bottom: 50px;
}

.box > .number {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e4e4e4;
}

.box > .text_number {
    font-weight: bold;
}

.company_facts_title {
    width: 85%;
    margin: 0 auto;
    text-align: center;

}

.company_facts_numbers {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 790px) {
    .company_facts_numbers {
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 350px) {
    .company_facts_numbers {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}


/**************************************************/

.section_satisfied {
    height: auto;
    width: 100%;
    padding: 20px 0;
    background-color: #00a99d;
}

.container_satisfied {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 10px;
}

.container_satisfied > .text, .button_satisfied {
    display: flex;
    align-items: center;
}

.container_satisfied > .text {
    color: #e4e4e4;
    font-weight: bold;
}

.button_satisfied > a {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #606060;
    background-color: #e4e4e4;
    border-radius: 5px;

}

.container_satisfied > p {
    margin: 0;
}

@media screen and (max-width: 720px) {

    .container_satisfied {
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .container_satisfied > .text {
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .container_satisfied > .text, .button_satisfied {
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {

    .container_satisfied {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .container_satisfied > .text {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

/************************************************/

.section_team_members {
    width: 100%;
    height: auto;
    padding: 70px 0;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-gap: 50px;
}

.team_members_title {
    grid-row: 1/2;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.container_team_members {
    width: 85%;
    margin: 0 auto;
}

.img_team_member >img {
    width: 250px;
    height: 240px;
}

/************************************************/

.section_description_member {
    height: 312px;
    background-color: aqua;
}

.description_member {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

/************************************************/

.section_business {
    height: 260px;
    background-color: #383838;
    display: flex;
    align-items: center;
}

.container_business {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

}

/************************************************/


.section_real_cheap_prices {
    height: 725px;
    background-color: white;
    display: flex;
    align-items: center;
}

.container_real_cheap_prices {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 440px;
    grid-gap: 50px;
}

.real_cheap_title {
    text-align: center;
}

.container_plans {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
}

.plans_cheap_prices {
    text-align: center;
}

/*********************************************/

.purchase_it_now {
    height: 170px;
    background-color: #8a8a8a;
}

.purchase_width {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
}

/*********************************************/

.section_social_networks {
    height: 277px;
    background-color: #383838;
    display: flex;
    align-items: center;

}

.container_social_networks {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}

.social_networks_logo {
    margin: 0 auto;
}

.container_networks_icons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-gap: 10px;
    
}

.network_icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5b5b5b;
    border-radius: 5px;
}

.network_icon > i {
    color: white;
}

.network_icon {
    cursor: pointer;
}

.network_icon:hover {
    background-color: #00a99d;
}

/*********************************************/

.map {
    height: 502px;
}

.copyright {
    height: 100px;
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright > p {
    color: #cccccc;
    font-weight: 900;
}