body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.portada_img_inicial {
    height: 750px;
    background-color: gray;
}

.portada_img_inicial > img {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.texto_img_portada {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 350px;
    left: 0;
    right: 0;
    width: 1000px;
    height: 400px;
}

.portada_img_inicial > .title {
    font-size: 45px;
}

/*****************************************/
nav {
    display: flex;
    align-items: center;  
    height: 100px;
    width: 1170px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 80px;
}

.logo {
    padding-right: 323px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    font-size: 0.868rem;
    margin-left: 30px;
    height: 80px;
}

.menu_pagina {
    font-size: 0.868rem;
    text-decoration: none;
    color: #606060;

}

/**********************************/

.what_we_offer {
    height: 545px;
    width: 1170px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 52px 1fr;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
}

.section2_1 {
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
}

/*************************************************/

.amazing_features {
    height: 620px;
    background-color: #383838;
}

.section_features {
    width: 1170px;
    height: 620px;
    display: grid;
    grid-template-columns: 70px 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.title_features {
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
}

.screen_icon {
    grid-row: 2/3;
    grid-column: 1/2;
}

.puzle_icon {
    grid-row: 3/4;
    grid-column: 1/2;
}

.star_icon {
    grid-row: 4/5;
    grid-column: 1/2;
}

.features_1 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.features_2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.features_3 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.tablets_img {
    grid-row: 2/5;
    grid-column: 3/4;
}
.tablets_img > img {
    height: 100%;
    width: 80%;
    float: right;
}

/*************************************************/

.business_skills {
    height: 480px;
    width: 1170px;
    background-color: white;
    display: grid;
    grid-template-columns: 40px 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    grid-gap: 20px;
}

.especial_screen, .especial_puzle, .especial_star, .especial_3barras, .carro_compra, .especial_disco {
    padding-bottom: 30px;
}

/************************************************/

.our_skills {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 38px;
}

.our_powerful_skills {
    height: 404px;
    background-color: #383838;
    display: grid;
    grid-template-rows: 128px 1fr; 
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container .box {
    /* width: 25%; */
    float: left;
    text-align: center;

}

 .container .box .chart {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 120px;
}

.container .box canvas {
    position: absolute;
    top: 0;
    left: 0;
}


/************************************************/


.sample_works {
    height: 880px;
    background-color: white;
}

.company_facts {
    height: 484px;
    background-color: #383838;
}

.team_members {
    height: 703px;
    background-color: white;
}

.comments {
    height: 312px;
    background-color: aqua;
}

.busines {
    height: 260px;
    background-color: #383838;
}

.real_cheap_prices {
    height: 896px;
    background-color: white;
}

/*********************************************/

.purchase_it_now {
    height: 170px;
    background-color: #8a8a8a;
}

.purchase_width {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
}

/*********************************************/

.social_networks {
    height: 277px;
    background-color: #383838;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    align-content: center;
    
}

.networks_icons {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.networks_icons > img {
    width: 40px;
    height: 40px;

}

/*********************************************/

.map {
    height: 502px;
}

.copyright {
    height: 100px;
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
}